body{
    background-color: black !important;
}

.navbar{

    background-color: transparent !important;
}


#navbarNav{
    justify-content: flex-end;

}

.nav-item{
    padding-left: 5px;
    padding-right: 5px;
}
.nav-link{

   /*margin-left: 50%;*/
    font-family: 'Merriweather', serif;
    /*margin-top: px;*/
    color: rgb(235 224 154) !important;
}

.nav-link:hover{
    color: white !important;
    text-decoration: underline !important;
}
.fa-user{
    color: rgb(235 224 154) !important;
}